{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}

<div class='container my-4'>
  <h2 class="text-center">Contact Us</h2>
  <form method="post" action="/contact">
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="mb-3">
        <label for="email" >Email Address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="query" >Queries</label>
        <input type="query" class="form-control" id="query" name="query" aria-describedby="query">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock body %}